@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-color-yellow {
  font-size: 40px !important;
  color: #f8f1b0 !important;
}

.start-your-day {
  background: #90be81;
}

.milk-support {
  position: absolute;
  margin: auto;
  width: 70%;
  margin-top: -100px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 15%;
  right: auto;
}

.font2 {
  font-family: "font2", sans-serif !important;
}

.font1 {
  font-family: "font1", sans-serif !important;
}

.font3 {
  font-family: "Libre Bodoni", serif;
}

body {
  font-family: "font2", sans-serif !important;
}



@media (max-width: 900px) {
  .logo {
    margin-bottom: 10px !important;
  }
}